.search-wrapper {
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 15;
  width: 250px;
}

.country-search {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 6px;
  color: darkgreen;
  border: 1px solid darkseagreen;
}
.country-search:focus {
  outline: none;
  border-color: darkgreen;
}

.autocomplete-list {
  list-style: none;
  margin: 0 0 0 2px;
  padding: 0;
  max-height: 180px;
  overflow-y: auto;
  background: #f3f3f3;
  border: 1px solid #ccc;
  border-top: none;
  color: darkgreen;
  font-size: 16px;
  position: absolute;
  width: 100%;
}

.autocomplete-list li {
  padding: 8px;
  cursor: pointer;
}
.autocomplete-list li:hover {
  background-color: #f3f3f3;
}
.autocomplete-list li.highlighted {
  background-color: #d1f1c9;
}
.input-with-clear {
  position: relative;
  display: flex;
}

.clear-button {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  color: #888;
  padding: 0;
}

.clear-button:hover {
  color: #000;
}

@media screen and (max-width: 640px) {
  .country-search, .autocomplete-list {
    font-size: 14px;
    width: 100%;
  }
}