.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: .8em 0 0;
  color: #222;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__left a {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 40px;
}
.header__logo {
  width: 40px;
  height: 40px;
}
.header__title {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  color: seagreen;
}

.header__auth {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__nav {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header__link {
  display: flex;
  text-decoration: none;
  color: #222;
  align-items: center;
  gap: 20px;
}
.header__home {
  margin: 0;
  color: #222;
  text-decoration: none;
}
.header__income {
  margin: 0;
  padding: 0 0.5em;
  align-content: center;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2;
  border: none;
  background: none;
}
.header__current-user {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.header__button {
  margin: 0;
  padding: 6px 10px;
  color: darkgreen;
  border-radius: 10px;
  border-color: darkseagreen;
  background-color: rgb(249, 249, 249);
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
.header__button:hover {
  background-color: darkseagreen;
  border-color: darkgreen;
}
.header__avatar-placeholder {
  color: #fff;
  background-color: #ccc;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-content: center;
  text-align: center;
}
.header__login-btn {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.5;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  .header {
    padding: 0;
  }
  .header__title {
    display: none;
  }
  .header__button {
    margin: 8px;
    padding: 3px 5px;
  }
  .header__income {
    font-size: 0.9rem;
  }

  .header__current-user {
    display: block;
    justify-items: self-end;
  }
  .header__left {
    padding-left: 0;
  }
  .header__auth {
    gap: 0;
  }
}
