button:active, button:focus {
  outline: none;
}
.page {
  background-color: #f3f3f3;
   min-height: 100vh; 
  overflow: visible; 
  background-image: url("../assets/map.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: overlay;
}
.page--no-bg {
  background-image: none;
  background-color: #f3f3f3;
}
.page__content {
  max-width: 980px;
  min-height: 100vh; 
  margin: 0 auto;
  padding: 0 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Grotesk", Arial, sans-serif;
}
.main{
  display: flex;
    flex-direction: column;
    flex: 1;
}
@media screen and (max-width: 640px) {
  .page__content {
    padding: .8em;
    /* justify-content: flex-start; */
  }
}
