.footer {
  font-size: 14px;
  line-height: 1.25;
  font-weight: 500;
  text-align: center;
  padding: .3em 0 1em;
  margin: auto;
  margin-bottom: 1rem;
  color: #222;
}
.footer__text,
.footer__text-link,
.footer__link {
  margin: 0;
  display: inline;
}
.footer__link {
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
